<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>HelloWorld</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletByImplements</servlet-name>
        <servlet-class>ServletByImplements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstGenericServlet</servlet-name>
        <servlet-class>FirstGenericServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleRequest</servlet-name>
        <servlet-class>HandleRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>CookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieServletSec</servlet-name>
        <servlet-class>CookieServletSec</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletByImplements</servlet-name>
        <url-pattern>/implements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstGenericServlet</servlet-name>
        <url-pattern>/generic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleRequest</servlet-name>
        <url-pattern>/form</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/CookieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieServletSec</servlet-name>
        <url-pattern>/CookieServletSec</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/main.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/form.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
